
<!DOCTYPE html>


<html>


<head>

<title>Budget Now!</title>


<h1>Budget App</h1>
</head>

<main>

	<body>


<h3><strong>Create a budget category</strong></h3>


<form action=''

<div>
<form action="verification" method='POST'>

<input class='email-verify' name = 'email'type="text" placeholder= "Email" required>
<input class='email-verify' type='text' name = 'email' placeholder='Password' required>
<button type="submit">Submit</button>

</form>
</div>
	</body>




</main>



	


		



















</html>

	
